@import '../../index.scss';
header {
  height: 100%;
}

.header-background {
  background-image: url('../../assets/images/about-image.jpg');
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-background button {
  position: relative;
  bottom: -85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 500px) {
  header {
    height: 245px;
  }
  .header-background {
    margin-top: 50px;
    height: 180px;
  }

  .header-background button {
    display: none;
  }
}
